<p>
  <h2 class="f">FAIXA BRANCA</h2>
  <h6 class="c">CONHEÇA UM POUCO DA NOSSA HISTÓRIA</h6>
</p>
<p>A Faixa Branca Terraplanagem desenvolve um trabalho de acordo com o planejamento que cada cliente necessita. Dentre os serviços, destacam-se construções de carreadores, curvas embutidas, sistematizações em geral, manutenções de canais de vinhaça - tanto tubulados de RPVC, como canais abertos -, construções civis, como escavações de base, aberturas de valas e construções de tanques, entre outros. Atualmente também realizamos fretes para diversos tipos de maquinário.
</p>
<p>A variedade de equipamentos, todos novos, modernos e revisados periodicamente por nossos mecânicos é outro diferencial da Faixa Branca Terraplanagem. Aliado a isso, possuímos uma equipe técnica e qualificada pronta para atender qualquer emergência, evitando todo tipo de atraso nos serviços.
</p>
<p>
  Para conhecer nossos equipamentos, basta clicar no ícone “Produtos” no menu acima. Já para esclarecer dúvidas e/ou solicitar um orçamento, entre em contato pela guia “Fale Conosco” ou ligue para um dos nossos telefones: (67) 3441-4905, (67) 9 9965-9343 e (67) 9 9965-9342.
</p>
<h5>Missão</h5>
<p>Ter um relacionamento transparente com todos os clientes, oferecendo-ljes opções e executando de maneira sólida os serviços contratados. Fazer com que os colaboradores sintam-se satisfeito em estar junto a empresa, desta forma impactando esse índice à perfeita execução dos serviços.</p>
<h5>Visão</h5>
<p>Ser referência no ramo de locações de maquinas e equipamentos pesados, impactando sempre a confiabilidade em cada contrato novo ou renovado. Buscar a excelência no que se é feito, tanto no ambiente interno quanto externo. Trabalhar com ética e princípios para prolongar sempre a vida da empresa.
</p>
<h5>Valores</h5>
<p>
  * Respeito ao meio ambiente <br>
  * Excelência no atendimento <br>
  * Qualificação continuada <br>
  * Profissionalismo <br>
  * Ações com foco na sustentabilidade <br>
  * Responsabilidade social </p>
