body {
  h5 {
    font-weight: bold;
    margin: 35px;
  }
}

.f {
  color: #c7783e;
  text-align: center;
  font-weight: 700;
}
.c {
  margin-top: 0.5rem;
  color: #919191;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  left: 550px;
}
p {
  text-align: justify;
  margin: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
